div > section{
  margin: 15vh;
}

/* Navbar Styles */
.navbar {
  background-color: #547B5B; /* Set a distinct background color */
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.navbar-nav .nav-item .nav-link {
  color: #fff; /* White text for links */
  padding: 0.5rem 1rem;
  transition: color 0.3s ease; /* Smooth hover transition */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ec7152; /* Change color on hover */
}

