html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    
}

html {
    scroll-behavior: smooth;
  }
  
  .scrollspy-example {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    padding-top: 70px;
  }
  
  section {
    padding: 100px 0; /* Adds padding to each section for visibility */
    height: 100vh; /* Optional: This makes each section fullscreen */
  }
  